body {
  background-color: rgb(223, 223, 223);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width:400px;
    background-color: beige;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    gap: 20px;
  } 

  .header {
    order: 1;
    font-weight: bold;
    font-size: 12pt;
    background-color: #ffbf00;
    width: 300px;
    display: flex;
    justify-content: center;

  }

  .input {
    order: 2;
    width: 300px;
  }

  .inputBar {
    width: 100px;
  }

  .convert {
    order: 3;
    width: 300px;
  }

  .results {
    order: 5;
    display: flex;
    flex-direction: colum;
    width: 300px;
    height: 30px;
    justify-content: center;
    align-items: center;

  }

  .result1 {
    order: 1;
    margin-left: 10px;
    padding: 2px;
  }
  .result2 {
    order: 3;
    margin-left: 10px;
    background-color: #fdff32;
    padding: 2px;
    display: none;

  }
  .equalSign {
    order: 2;
    padding: 2px;
    margin-left: 10px;
  }

.button {
  order: 4;
  display: flex;
  justify-content: center;
}
.btn {
  color: black;
  background-color: aquamarine;
  cursor: pointer;
  font-size: 12px;
  padding: 8px;
  border-radius: 15px;
  min-height:30px; 
  min-width: 120px;
}

.btn:hover {
  background-color: chartreuse;
}

.btn:active {
  background-color:chartreuse;
}

.author {
  margin-top: 20px;
  order: 4;
  padding: 5px;
  display: flex;
  flex-direction: row;
  width: 400px;
  font-size: 10px;
  margin: auto;
  margin-top: 10px;
}